body {
	background-color: #8080FF;
	font-family: Trebuchet MS;  
}

.divider{
	height: 10px;
	background-color: white; 
}

.header-section {
	height: 200px;
	background-color: #000080; 
	margin-bottom: 100px;
	z-index: 1;
}

h1 {
	text-align: center; 
	font-family: Impact; 
	color: #000080;
}

form {
	padding-left: 50px;
	padding-right: 50px; 
	padding-bottom: 50px; 
}

.mentee:hover{
	background-color: #0000E2; 
}

.mentor:hover{
	background-color: #0000E2; 
}


